<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="person" class="com.bean.pack.PersonBean" init-method="init" destroy-method="destroy">
        <constructor-arg value="Hi!"/>
        <property name="name" value="Mike"/>
        <!--<property name="text" value="Hello"/>-->
    </bean>
    <!--Get instance by factory-method-->
    <bean id="address" class="com.bean.pack.AddressBean" factory-method="getInstance">
        <property name="town" value="NY"/>
        <property name="street" value="With"/>
    </bean>
    <!--param in Spring -->
    <bean id="account" class="com.bean.pack.AccountBean" scope="prototype"
        p:id="1" p:summary="100" p:person-ref="person">
    </bean>

    <!--Collection in Spring-->
    <bean id="list" class="com.bean.pack.collections.ListBean">
        <property name="text" value="List Bean!"/>
        <property name="list">
            <list>
                <value>0</value>
                <value>Cosmos</value>
                <value>2.0</value>
                <value>3</value>
                <value>4L</value>
            </list>
        </property>
    </bean>
    <bean id="set" class="com.bean.pack.collections.SetBean">
        <property name="text" value="List Bean!"/>
        <property name="set">
            <set>
                <value>0</value>
                <value>Cosmos</value>
                <value>2.0</value>
                <value>3</value>
                <value>4L</value>
                <value>4L</value>
                <value>3</value>
                <value>2.0</value>
                <value>Cosmos</value>
                <value>0</value>
            </set>
        </property>
    </bean>
    <bean id="map" class="com.bean.pack.collections.MapBean">
        <property name="text" value="List Bean!"/>
        <property name="map">
            <map>
                <entry key = "1" value="Kirill"/>
                <entry key = "2" value="Irina"/>
                <entry key = "a" value="Svetlana"/>
                <entry key = "b" value="Artur"/>
                <entry key = "1L" value="Max"/>
                <entry key = "1" value="Kirill"/>
                <entry key = "2" value="Irina"/>
                <entry key = "a" value="Svetlana"/>
                <entry key = "b" value="Artur"/>
                <entry key = "1L" value="Max"/>
            </map>
        </property>
    </bean>
    <bean id="props" class="com.bean.pack.collections.PropsBean">
    <property name="text" value="List Bean!"/>
    <property name="props">
        <props>
            <prop key = "1">Kirill</prop>
            <prop key = "2">Irina</prop>
            <prop key = "a">Svetlana</prop>
            <prop key = "b">Artur</prop>
            <prop key = "2l">Max</prop>
            <prop key = "1">Kirill</prop>
            <prop key = "2">Irina</prop>
            <prop key = "a">Svetlana</prop>
            <prop key = "b">Artur</prop>
            <prop key = "2l">Max</prop>
        </props>
    </property>
</bean>
</beans>
